<mat-accordion *ngIf="project.info">
  <mat-expansion-panel *ngFor="let task of project.info.tasks; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <!--<mat-icon>folder</mat-icon>-->
        <span>{{project.metadata.text[lang].tasks[i].title}}</span>
      </mat-panel-title>
      <mat-panel-description>
        <span>{{task.type.extendClassName}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="row wrap">

      <mat-form-field fxFlex="100" fxFlex.gt-sm="80">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="project.metadata.text[lang].tasks[i].title">
      </mat-form-field>

      <div fxFlex="100" fxFlex.gt-sm="20" style="display:flex;justify-content:flex-end;align-items:center;gap:5px">

        <mat-menu #codeSnippetMenu="matMenu">
          <button mat-menu-item (click)="copyCodeTemplateToClipboard('javascript')">Javascript</button>
          <button mat-menu-item (click)="copyCodeTemplateToClipboard('python')">Python</button>
          <button mat-menu-item (click)="copyCodeTemplateToClipboard('html')">HTML</button>
          <button mat-menu-item (click)="copyCodeTemplateToClipboard('sql')">SQL</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="codeSnippetMenu" matTooltip="Code Templates">
          <mat-icon>code</mat-icon>
        </button>


        <button mat-icon-button color="primary" (click)="openInVsCode(i)" matTooltip="Open in VsCode"
                *ngIf="task.type !== taskTypes.TEXT_ONLY">
          <img src="/assets/vscode.png" style="height:20px;">
        </button>
        <button mat-icon-button color="warn" (click)="deleteTask(i)" matTooltip="Delete task">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <!--<mat-form-field fxFlex="100">
        <mat-label>Content</mat-label>
        <textarea matInput [(ngModel)]="task.content"></textarea>
      </mat-form-field>-->
      <!--<ngx-monaco-editor [options]="editorOptions" [(ngModel)]="task.content"></ngx-monaco-editor>-->

      <!--<quill-editor [(ngModel)]="task.content"></quill-editor>-->
      <!--<ngx-codemirror fxFlex="100" [(ngModel)]="project.metadata.text[lang].tasks[i].content"
                      [options]="{lineNumbers:true, theme: 'material', mode: 'htmlmixed'}"></ngx-codemirror>-->
      <div fxFlex="100" style="height:400px;resize:vertical;overflow:auto">
        <app-code-editor [(content)]="project.metadata.text[lang].tasks[i].content" language="html">
        </app-code-editor>
      </div>

    </div>
  </mat-expansion-panel>
  <span *ngIf="!project.info.tasks?.length" style="color:#b2b2b2;font-size:14px">Click the plus icon at the top to add tasks.</span>
</mat-accordion>

<!--<pre>{{project.metadata.text[lang].tasks | json}}</pre>
<br/>
<pre>{{project.info.tasks | json}}</pre>-->
