::ng-deep {
  .mat-tab-labels {
    & > div:last-child {
      flex-grow: 1;
      opacity: 1;
      padding: 0 0 0 20px;

      & > * {
        display: flex;
        width: 100%;
        justify-content: normal;

        & > * {
          flex-grow: 1;
        }
      }
    }
  }
}

.lightgreen-button {
  color: rgb(67, 204, 67);
}
