::ng-deep {
  .mat-tab-labels {
    & > div:last-child {
      flex-grow: 1;
      opacity: 1;

      & > * {
        display: flex;
        width: 100%;
        justify-content: normal;

        & > * {
          flex-grow: 1;
        }
      }
    }
  }
}
