@import '~styles/vars';

.wrapper {
  height: 100vh;
  background: $bg-color;

  .navbar {
    background: lighten($bg-color, 3%);
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;

    .title {
      font-size: 20px;
      font-weight: bold;
      margin-left: 40px;
    }

    a {
      background: transparent;
      border-radius: 5px;
      cursor: Pointer;
      text-decoration: none;
      color: white;

      &:hover, &.active {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .content {
    flex-grow: 1;
    padding: 10px;
  }
}
