<div class="wrapper">

  <div class="navbar">
    <a mat-icon-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-icon-button routerLink="/settings" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
    </a>

    <!--<span class="title">{{title.getTitle()}}</span>-->

    <div style="flex-grow:1;display:flex;justify-content:flex-end">
      <button mat-button (click)="courseService.selectWorkspaceFolder()">
        <span style="color:#b9b9b9;font-size:12px">{{courseService.workspace}}</span>
      </button>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
