<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="50" fxFill>
    <div style="display:flex;flex-direction:column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="project.metadata.text[lang].title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="project.metadata.text[lang].description"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div style="padding:10px;display:flex;flex-direction:column;align-items:flex-start;gap:2px">
      <img src="file:///{{project.path}}/assets/thumbnail.png?rand={{rand}}" style="max-width:200px;max-height:150px"
           *ngIf="!copyingImage else copyingImageLoading">
      <ng-template #copyingImageLoading>
        <mat-spinner [diameter]="20"></mat-spinner>
      </ng-template>
      <button mat-flat-button color="primary" (click)="changeThumbnail()">Change Thumbnail</button>
      <span style="color:grey;font-size:12px">Recommended resolution: 1280x720</span>
    </div>
  </div>
</div>


<div style="margin-top:50px">
  <table class="check-table">
    <tr>
      <th></th>
      <th>German</th>
      <th>English</th>
      <th></th>
    </tr>
    <tr>
      <td class="small-grey">Title</td>
      <td *ngFor="let l of langs"
          [class.empty]="!project.metadata.text[l].title">{{project.metadata.text[l].title}}</td>
      <td></td>
    </tr>
    <tr>
      <td class="small-grey">Description</td>
      <td *ngFor="let l of langs"
          [class.empty]="!project.metadata.text[l].description">{{project.metadata.text[l].description}}</td>
      <td></td>
    </tr>
    <ng-container *ngFor="let t of project.info.tasks; let i = index">
      <tr class="top-border">
        <td class="small-grey">Task{{i}} Title</td>
        <td *ngFor="let l of langs"
            [class.empty]="!project.metadata.text[l].tasks[i].title">{{project.metadata.text[l].tasks[i].title}}</td>
        <td colspan="2">
          <a *ngIf="!project.metadata.text.en.tasks[i].title && !project.metadata.text.en.tasks[i].content">
            <a style="color:#7f7fff;cursor:Pointer" (click)="translate('de', 'en', i)">Translate DE to EN</a>
          </a>
        </td>
      </tr>
      <tr class="bottom-border">
        <td class="small-grey">
          Task{{i}} Description
        </td>
        <td *ngFor="let l of langs" [class.empty]="!project.metadata.text[l].tasks[i].content">
          {{project.metadata.text[l].tasks[i].content}}
        </td>
        <td></td>
      </tr>
    </ng-container>
  </table>
</div>
